<div class="row mb-4">
  <div class="col-lg-3">
    <label for="startDate" class="form-label">Data Inicial</label>
    <input id="startDate" class="form-control" type="date" value="{{startDate}}"
      (change)="startDateHandleChange($event)" />
  </div>
  <div class="col-lg-3">
    <label for="endDate" class="form-label">Data Final</label>
    <input id="endDate" class="form-control" type="date" value="{{endDate}}" (change)="endDateHandleChange($event)" />
  </div>
  <div class="col-lg-6 mt-4 text-end">
    <button class="btn btn-success" (click)="incluir()">
      <i class='fas fa-plus-circle'></i><span> Incluir</span>
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered table-content">
    <thead>
      <tr class="text-center">
        <th>Código</th>
        <th>Data/Hora</th>
        <th class="text-start">Descrição</th>
        <th class="text-end">Valor</th>
        <th>Avulso</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancamento of lancamentos; index as i"
        class="text-center {{lancamento.status ? '' : 'text-decoration-line-through'}}">
        <td>{{ lancamento.idCurto }}</td>
        <td>{{ lancamento.data | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td class="text-start">{{ lancamento.descricao }}</td>
        <td class="text-end">{{ lancamento.valor | currency:'BRL':true:'1.2-2' }}</td>
        <td>{{ lancamento.avulso ? 'Sim' : 'Não' }}</td>
        <td>
          <ng-container *ngIf="lancamento.status">
            <span class="badge bg-success">Válido</span>
          </ng-container>
          <ng-container *ngIf="!lancamento.status">
            <span class="badge bg-danger">Cancelado</span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="lancamento.status && lancamento.avulso">
            <button type="button" (click)="editar(lancamento)" class="btn"><i class="fa fa-edit edit" title="Editar"></i></button>
            <button type="button" (click)="confirmarCancelamento(lancamento)" class="btn"><i
                class='fas fa-trash-alt delete' title="Cancelar"></i></button>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td *ngIf="lancamentos.length == 0" colspan="7">Nenhum registro encontrado</td>
      </tr>
      <tr class="table-info fw-bold" *ngIf="lancamentos.length > 0">
        <td colspan="3" class="text-end">Total</td>
        <td class="text-end">{{total | currency:'BRL':true:'1.2-2'}}</td>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
</div>